= form_for group do |f|

  - handle_errors(group)

  %fieldset.form-group
    = f.label(:name, 'Group name')
    = f.text_field(:name, autofocus: true, class: 'form-control')

  = f.submit('Create Group', data: {disable_with: 'Saving...'}, class: 'btn btn-primary')
  = link_to('Cancel', user_root_path, class: 'btn btn-danger')