%p
  == #{@group.admin_user.first_name} has invited you to join #{@group.name} at #{link_to('DrawAList.com', new_user_url(token: @group.token, email: @invitation.email))}

%p
  == Once a member of #{@group.name}, you'll be able to fill out your wishlist. Once everyone is ready to go, group members will be randomly paired with each other. Your pair will see your wishlist and you will see your pair's wishlist. We'll even alert you if your pair makes any changes to their list, so you can be sure to the perfect gift!

%p
  == All you have to do is #{link_to('sign up', '#')} and get started!

%p
  == - The DrawAList Team