!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    %meta{"http-equiv" => 'x-ua-compatible', :content => 'ie=edge'}
    %title= raw(compound_page_title(yield(:title)))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{class: page_body_class}
    = render 'layouts/main_nav.html.haml'
    = render 'layouts/flash_messages.html.haml'

    #main-content.container
      .row
        .col-xs-12
          = yield

    = render 'layouts/footer.html.haml'